<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LojaCat</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>lojacat.dao.loginConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarProdutoController</display-name>
    <servlet-name>cadastrarProdutoController</servlet-name>
    <servlet-class>lojacat.controller.cadastrarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarProdutoController</servlet-name>
    <url-pattern>/cadastrarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarProdutoController</display-name>
    <servlet-name>editarProdutoController</servlet-name>
    <servlet-class>lojacat.controller.editarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarProdutoController</servlet-name>
    <url-pattern>/editarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProdutoController</display-name>
    <servlet-name>deleteProdutoController</servlet-name>
    <servlet-class>lojacat.controller.deleteProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProdutoController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaUtil</display-name>
    <servlet-name>CategoriaUtil</servlet-name>
    <servlet-class>lojacat.util.CategoriaUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaUtil</servlet-name>
    <url-pattern>/CategoriaUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilter</display-name>
    <servlet-name>AuthenticationFilter</servlet-name>
    <servlet-class>lojacat.filter.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilter</servlet-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
</web-app>